* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

img {
    display: block;
}

ul>li {
    list-style: none;
}

button {
    background: none;
    border: none;
}

body {
    margin: 0;
    background-color: #e7f6ff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 0;
}