.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;

    .drawer {
        position: absolute;
        right: 0;
        height: 100%;
        width: 485px;
        background-color: #f3f3f3;
        padding: 30px;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
    
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .close {
            cursor: pointer;
    
            img {
                transition: all .2s;
    
                &:hover {
                    opacity: .6;
                }
            }
        }
    
        .products {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1;
            margin-top: 30px;
            overflow: auto;
            margin-bottom: 40px;
        }
    
        .product {
            display: flex;
            align-items: center;
            gap: 20px;
            background: #fff;
            width: 100%;
            padding: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 20px;
            position: relative;
            transition: all .2s;
    
            .img {
    
                img {
                    width: 70px;
                    height: 70px;
                }
            }
    
            .title-price {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 8px;
                width: 150px;
    
                div {
                    font-size: 17px;
                    font-weight: 700;
                }
            }
    
            .title {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
            }
    
            button {
                border: none;
                background: none;
                cursor: pointer;
                position: absolute;
                bottom: 38px;
                right: 20px;
    
                img {
                    transition: all .2s;
                    opacity: .5;
    
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    
        .total {
            display: flex;
            flex-direction: column;
            gap: 30px;
    
            .totalBlock {
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                li {
                    display: flex;
                    align-items: flex-end;
                    gap: 10px;
                    font-size: 16px;
                    line-height: 19px;
    
                    p {
                        font-weight: 400;
                    }
    
                    .dashed {
                        flex: 1;
                        height: 1px;
                        border-bottom: 1px dashed #898383;
                        position: relative;
                        top: -4px;
                    }
    
                    div {
                        font-weight: 600;
                    }
                }
            }
    
            .makeAn {
                width: 100%;
                padding: 17px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #8ac245;
                border-radius: 18px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                position: relative;
                cursor: pointer;
                transition: all .2s;
    
                &:hover {
                    background: darken(#8ac245, 10%);
    
                    img {
                        transform: translateX(10px);
                    }
                }
    
                &:active {
                    background: lighten(#8ac245, 10%);
                }
    
                img {
                    position: absolute;
                    top: 20px;
                    right: 32px;
                    transition: all .2s;
                }
            }
        }
    }
}
