.header {
    padding: 43px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;

    .logo {
        display: flex;
        gap: 16px;

        img {
            width: 40px;
            height: 40px;
        }

        .title {
            div {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-transform: uppercase;
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #9d9d9d;
            }
        }
    }

    .info {
        display: flex;
        gap: 32px;

        .info-block:first-child {
            div {
                font-weight: 600;
            }
        }

        .info-block {
            display: flex;
            gap: 8px;
            align-items: center;
            text-decoration: none;
            cursor: pointer;
            transition: all .2s;

            p {
                width: 33px;
                height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #b6dbf3;
                border-radius: 50%;
                font-weight: 700;
                font-size: 16px;
                color: #202020;
            }

            img {
                width: 18px;
                height: 18px;
            }

            div {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #5c5c5c;
                transition: all .2s;
            }

            &:hover {
                div {
                    color: #9d9d9d;
                }
            }
        }
    }
}